astroid==3.2.4
colorama==0.4.6
contourpy==1.1.1
coverage==7.6.1
cycler==0.12.1
dill==0.3.9
Faker==33.3.1
fonttools==4.55.3
importlib_resources==6.4.5
isort==5.13.2
kiwisolver==1.4.7
matplotlib==3.7.5
mccabe==0.7.0
numpy==1.24.4
packaging==24.2
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
pylint==3.2.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.3.0
six==1.17.0
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.2
zipp==3.20.2
